/csrc/
/tr_db.log
/ucli.key
/vc_hdrs.h
/vcs.log
/sim*
/README.html*
*.*~
INCA_libs*
.simvision
.nfs*
ida.db/
/irun.history
/irun.key
/irun.log
/jspecview.log
*.bkp
/ida.log
/indago.history
/indago.log
xcelium.d/
xrun.history
xrun.log
